services:
  app:
    build:
      context: .
    volumes:
      - ./backend:/app
    env_file:
      - .env
    ports:
      - "8001:8001"
    restart: on-failure
    command: >
      sh -c "python manage.py && python manage.py && python manage.py runserver 0.0.0.0:8001"
    depends_on:
      - db

  db:
    image: postgres:latest
    env_file:
      - .env
    volumes:
      - ./postgres:/var/lib/postgresql
    ports:
      - "5435:5432"
    restart: on-failure